

body {
    background: #0f0f0f;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.image-container {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height:  250px;
    background: #302f2f; width: 100%;
    border-radius: 17px;
    box-shadow: 4px 4px 5px #cccccc26;
   
}

#music-image {
    width: 100%;
    border-radius: 17px;
    box-shadow: 4px 4px 5px #cccccc26;
}
/* *** Play Pause btn Css start frome here *** */
.play-pause-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    position: absolute;
}

#play-pause-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 100%;
    background: #1d1d1dca;
    cursor: pointer;
}

#pause-icon,
#play-icon {
    position: absolute;
    height: 37px;
    width: 37px;
    padding: 2px;
    transition: 0.2s;

}

#pause-icon {
    height: 0;
    width: 0;
}
/* *** Play Pause btn Css END frome here *** */
/* seek bar css start  */

/* .seek-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: #720a0a00;
} */

/* fix seek bar for chrome mobile */
.seek-container {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: end; */
    padding-top: 215px;
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: #720a0a00;
}

.seek-bottom-bar {
    display: flex;
    height: 35px;
    width: 100%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
    background: rgba(1, 0, 0, 0.822);
}

#seek-slider {
    overflow: hidden;
    height: 35px;
    background: #0dc100b9;
    transition: 0.1s;
    box-shadow: 1px 1px 7px rgba(77, 77, 77, 0.92);
}

.seek-time {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 35px;
    width: 100%;

}

#tottall-duration,
#currentime {
    color: rgb(249, 249, 249);
    margin-left: 5px;
    margin-right: 5px;
}


:root {
    --animation-color: rgb(148, 44, 44);
    --btn-icon-color:  #00FF27;

}

#play-svg-icon,
#pause-svg-icon {
    fill: rgba(252, 252, 252, 0.838);
}

#repeat-one-number,
#repeat-svg-icon,
#skip-left-svg-icon,
#skip-left-svg-number,
#right-skip-svg-icon,
#right-icon-svg-number,
#download-bar-svg-icon,
#download-arrow-svg-icon,
#download-circle-svg-icon {
    fill: var(--btn-icon-color);
}

.music-control-btns {
    color: white;
    /* background: rgb(92, 91, 91); */
    height: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-music-control-container {
    margin-top: 50px;
    height: 40px;
    /* background: rgb(52, 52, 52); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-artist,
.music-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.music-title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #d1d1d1;
    line-height: 33px;
}

.music-artist {
    margin-bottom: 40px;
    font-size: 20px;
    color: #d1d1d1e3;
}



.center-music-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* *** Description Css Start frome here *** */
#music-description-container {
    background: #0f0f0f;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    transition: 0.6s;
    overflow: hidden;
    max-width: 800px;
}

#description-btn-container {

    height: 100%;
}

#descripton-info {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 30px;
    font-weight: 100;
    font-size: 1.2rem;
    color: #b9bcb9;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.41, 0.41, 0.25, 0.66);
    height: 100%;
    background-color: #121414;
}

#description-btn {
    cursor: pointer;
    height: 40px;
    width: 100%;
    color: var(--btn-icon-color);
    background: rgb(31, 30, 30);
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid rgb(87, 87, 87);
    transition: 0.9s;
    
}

/* *** Description Css END frome here *** */

/*controls btn css start*/

#repeat-music-icon-one,
#repeat-music-icon,
#left-skip-icon-number,
#left-skip-icon,
#right-skip-icon,
#right-skip-number-icon,
#download-bar-icon,
#download-circle-icon,
#download-arrow-icon {
    position: absolute;
    height: 40px;
    width: 40px;
}
#music-download-btn {
    height: 45px;
    width: 45px;
    overflow: hidden;
    

}

#repeat-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*See more card*/


        #See-more-container {
            margin: 0 0 30px 0;
            display: flex;
            flex-shrink: 1;
            overflow: scroll;
            scroll-behavior: auto;
            height: 250px;
            
        }

        .SeeMoreContainer {
            height: 200px;
            width: 150px;
            margin: 20px 10px;
            flex-shrink: 0;

        }


        .SeeMoreSongTitle {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: rgb(219, 214, 207);
            text-decoration: none;
            margin: 10px 0 0 0;
        }

        .SeeMoreSongTitle:hover {
            color: rgb(177, 176, 175);
        }

        .SeeMoreImage {
            border-radius: 2px;
            height: 100%;
            width: 100%;
        }

        .SeeMoreImageContainer {
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;
            background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj7k-lvpSre4zr92vgRe4q3h0FPBPOmd18guxljDGgch01JgMlc9nMPe-qQGAfGyHN1kY0siOFFpMiDSs-h6hCy3uWn8JnXviNfI2_KMK_m_c-qLymoQmU_UJIJI_3KPvvXVDoaCKGeuCCQPQvhGEijFWaVOErSnHyHNMibtAYYrb0eaWTZ7AFdtzqP5g/s1600/g2811.png");


        }

        .smLoading {
            display: none;
        }

        #sm-loader-container {
            width: 100%;
        }

        .sm-loader {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 100%;
        }

        /* Loader */
        #sm-loader-icon1 {
            height: 5px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon1;
        }

        @keyframes sm-loader-icon1 {
            0% {
                height: 5px;
            }

            50% {
                height: 50px;
            }

            100% {
                height: 5px;
            }
        }

        #sm-loader-icon2 {
            height: 10px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon2;

        }

        @keyframes sm-loader-icon2 {
            0% {
                height: 10px;
            }

            50% {
                height: 30px;
            }

            100% {
                height: 50px;
            }
        }



        #sm-loader-icon3 {
            height: 15px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon3;

        }

        @keyframes sm-loader-icon3 {
            0% {
                height: 15px;
            }

            50% {
                height: 39px;
            }

            100% {
                height: 15px;
            }
        }

        #sm-loader-icon4 {
            height: 20px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon4;

        }

        @keyframes sm-loader-icon4 {
            0% {
                height: 20px;
            }

            50% {
                height: 40px;
            }

            100% {
                height: 8px;
            }
        }

        #sm-loader-icon5 {
            height: 25px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon5;

        }

        @keyframes sm-loader-icon5 {
            0% {
                height: 25px;
            }

            50% {
                height: 5px;
            }

            100% {
                height: 40px;
            }
        }

        #sm-loader-icon6 {
            height: 30px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon6;

        }

        @keyframes sm-loader-icon6 {
            0% {
                height: 30px;
            }

            50% {
                height: 50px;
            }

            100% {
                height: 30px;
            }
        }

        #sm-loader-icon7 {
            height: 35px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon7;

        }

        @keyframes sm-loader-icon7 {
            0% {
                height: 35px;
            }

            50% {
                height: 7px;
            }

            100% {
                height: 35px;
            }
        }

        #sm-loader-icon8 {
            height: 40px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon8;

        }

        @keyframes sm-loader-icon8 {
            0% {
                height: 9px;
            }

            50% {
                height: 30px;
            }

            100% {
                height: 5px;
            }
        }

        #sm-loader-icon9 {
            height: 45px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon9;

        }

        @keyframes sm-loader-icon9 {
            0% {
                height: 45px;
            }

            50% {
                height: 6px;
            }

            100% {
                height: 45px;
            }
        }

        #sm-loader-icon10 {
            height: 50px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon10;


        }

        @keyframes sm-loader-icon10 {
            0% {
                height: 50px;
            }

            50% {
                height: 20px;
            }

            100% {
                height: 50px;
            }
        }





        .sm-loader-icon {
            margin: 0 3px;
            background-color: antiquewhite;
            border-radius: 1px;

        }

        .sm-All-container {
            display: flex;
            justify-content: end;
        }

        #sm-wiewAll-btn {
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: aliceblue;
        }
       


.song-control-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #00000000;
    border: none;
    cursor: pointer;

}



#download-bar-icon,
#download-arrow-icon,
#download-circle-icon {
    height: 40px;
    width: 40px;
}

/* #download-arrow-icon{
    
} */

#right-skip-icon,
#left-skip-icon {
    transition: 0.6s;

}

#repeat-music-icon {
    transition: 0.5s;
}

#repeat-music-icon-one {
    transition: 0.3s;
    height: 0;
    width: 0;
}



@keyframes download-btn {
    0% {
        margin-top: -14px;
    }

    50% {
        margin-top: 28px;

    }

    100% {
        margin-top: -14px;
        
    }
}
/*controls btn css END*/



.lyrics-text{
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    height: 32px;
    width: 81px;
    border-bottom: 2px solid  #1eff0e91;
    color: #d9d8d8;
}
.descripton-text{
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    height: 32px;
    width: 125px;
    color: #d9d8d8;
    border-bottom: 2px solid  #1eff0e91;
}

.description{
    white-space: pre-line;
    font-weight: normal;
}
.lyrics{
    white-space: pre-line;
    font-weight: normal;
}


/*SEE More card CSS start */

        #See-more-container {
            margin: 0 0 30px 0;
            display: flex;
            flex-shrink: 1;
            overflow: scroll;
            scroll-behavior: auto;
            height: 250px;
            
        }

        .SeeMoreContainer {
            height: 200px;
            width: 150px;
            margin: 20px 10px;
            flex-shrink: 0;

        }


        .SeeMoreSongTitle {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: rgb(219, 214, 207);
            text-decoration: none;
            margin: 10px 0 0 0;
        }

        .SeeMoreSongTitle:hover {
            color: rgb(177, 176, 175);
        }

        .SeeMoreImage {
            border-radius: 2px;
            height: 100%;
            width: 100%;
        }

        .SeeMoreImageContainer {
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;
            background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiYh3aFJZWzfP5WjbzJ-p9ljU1apHrqIv-aCOtALSPMFoY9rL-26cfJNP6J9jegz0bGz6Giqnw-cmVVP__Kl3Godf1xcCH5DS-HxUW9BwD1hHVy6IVkih2shpUxd11Cd4taXB_SgNZW0aVy87EVSOBPl2-st51D8kERQ5228ADMNqVm20CRnBrgq3tfAA/s1600/g2811.jpg");


        }

        .smLoading {
            display: none;
        }

        #sm-loader-container {
            width: 100%;
        }

        .sm-loader {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 100%;
        }

        /* Loader */
        #sm-loader-icon1 {
            height: 5px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon1;
        }

        @keyframes sm-loader-icon1 {
            0% {
                height: 5px;
            }

            50% {
                height: 50px;
            }

            100% {
                height: 5px;
            }
        }

        #sm-loader-icon2 {
            height: 10px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon2;

        }

        @keyframes sm-loader-icon2 {
            0% {
                height: 10px;
            }

            50% {
                height: 30px;
            }

            100% {
                height: 50px;
            }
        }



        #sm-loader-icon3 {
            height: 15px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon3;

        }

        @keyframes sm-loader-icon3 {
            0% {
                height: 15px;
            }

            50% {
                height: 39px;
            }

            100% {
                height: 15px;
            }
        }

        #sm-loader-icon4 {
            height: 20px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon4;

        }

        @keyframes sm-loader-icon4 {
            0% {
                height: 20px;
            }

            50% {
                height: 40px;
            }

            100% {
                height: 8px;
            }
        }

        #sm-loader-icon5 {
            height: 25px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon5;

        }

        @keyframes sm-loader-icon5 {
            0% {
                height: 25px;
            }

            50% {
                height: 5px;
            }

            100% {
                height: 40px;
            }
        }

        #sm-loader-icon6 {
            height: 30px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon6;

        }

        @keyframes sm-loader-icon6 {
            0% {
                height: 30px;
            }

            50% {
                height: 50px;
            }

            100% {
                height: 30px;
            }
        }

        #sm-loader-icon7 {
            height: 35px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon7;

        }

        @keyframes sm-loader-icon7 {
            0% {
                height: 35px;
            }

            50% {
                height: 7px;
            }

            100% {
                height: 35px;
            }
        }

        #sm-loader-icon8 {
            height: 40px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon8;

        }

        @keyframes sm-loader-icon8 {
            0% {
                height: 9px;
            }

            50% {
                height: 30px;
            }

            100% {
                height: 5px;
            }
        }

        #sm-loader-icon9 {
            height: 45px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon9;

        }

        @keyframes sm-loader-icon9 {
            0% {
                height: 45px;
            }

            50% {
                height: 6px;
            }

            100% {
                height: 45px;
            }
        }

        #sm-loader-icon10 {
            height: 50px;
            width: 2px;
            animation: 1s infinite;
            animation-name: sm-loader-icon10;


        }

        @keyframes sm-loader-icon10 {
            0% {
                height: 50px;
            }

            50% {
                height: 20px;
            }

            100% {
                height: 50px;
            }
        }





        .sm-loader-icon {
            margin: 0 3px;
            background-color: antiquewhite;
            border-radius: 1px;

        }

        .sm-All-container {
            display: flex;
            justify-content: end;
        }

        #sm-wiewAll-btn {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
       
/*SEE More card CSS end */
